.experience__container {
  max-width: 768px;

  display: grid;
  grid-template-columns: 0.5fr;
  justify-content: center;
}

.experience__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.experience__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.experience__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
}

.experience__calendar {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.experience__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--text-color);
  border-radius: 50%;
}

.experience__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--text-color);
  transform: translate(6px, -7px);
}

@media screen and (max-width: 992px) {
  .experience__container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .experience__container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width: 576px) {
  .experience__container {
    grid-template-columns: initial;
  }

  .experience__button {
    margin: 0 var(--mb-0-75);
  }
}

@media screen and (max-width: 350px) {
  .experience__data {
    gap: 0.5rem;
  }
}